.social-main {
    position: relative;
    margin: 0 auto;
    width: 243px;
}

#social {
    position: relative;
    margin: 50px auto;
}

.social-main {
    position: relative;
    margin: 0 auto;
    width: 243px;
}

.social-main span {
    float: left;
}

.social-main a {
    color: #fff;
    line-height: 36px;
    border-radius: 40px;
}

.social-main i {
    color: #fff;
    margin: 0 5px 0 0;
}

.like a {
    float: left;
    padding-left: 15px;
}

.like a {
    background: #FF0000;
    width: 70px;
    display: block;
    border: 1px solid #ddd;
}

.dislike a {
    float: left;
    padding-left: 15px;
}

.dislike a {
    background: #0000FF;
    width: 70px;
    display: block;
    border: 1px solid #ddd;
}