<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/blog/bs4/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/bs4/css/geetk.css">
    <!-- Bootstrap CSS -->

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<h3>登陆页面</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">

            <form action="">

                <div class="form-ground">
                    <label for="user">用户名</label>
                    <input type="text" name="" id="user" class="form-control">
                </div>
                <div>
                    <label for="pwd">密码</label>
                    <input type="password" name="" id="pwd" class="form-control">
                </div>

                <div>
                    <label for="">验证码</label>
                    <div class="row">

                        <div class="col-md-6">
                            <input type="text" name="" id="" class="valid_code form-ground">
                        </div>

                        <div id="embed-captcha"></div>
                        <p id="wait" class="show">正在加载验证码......</p>
                        <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                        <input type="submit" name="" value="登录" class="input_submit" id="embed-submit">

                    </div>
                </div>

                <input type="button" name="" id="" class="btn btn-" value="Submit">

            </form>

        </div>
    </div>
</div>


</body>
</html>