<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  

  <h3>登陆页面</h3>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-offset-3">

        <form action="">

          <div class="form-group">
            <label for="user">用户名</label>
            <input type="text" name="" id="user" class="form-control">
          </div>
          <div>
            <label for="pwd">密码</label>
            <input type="password" name="" id="pwd" class="form-control">
          </div>

          <div>
            <label for="">验证码</label>
            <div class="row">
              
              <div class="col-md-6">
                <input type="text" name="" id="" class="valid_code form-ground">
              </div>

              <div class="col-md-6">
                <img src="" alt="" style="" style="height:38px;width:200px">
              </div>

            </div>
          </div>

          <input type="button" name="" id="" class="btn btn-default login_btn pull-right" value="Submit">

        </form>

      </div>
    </div>
  </div>
  
  
  </body>
</html>